body, h2, ul, li{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#intro h1{
    font-size: 50px;
}
h1{
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 10px;
}
h2{
    font-size: 70px;
    padding: 10px;
    margin: 0%;
}
h3{
    font-size: 50px;
    padding: 10px;
    margin: 0%;
}
#intro p{
    font-size: 30px;
    padding: 10px;
    margin: 0%;
}

body{
    font-family: Arial, sans-serif;
    background-image: url(Triabal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
header{
    padding: 20px, 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom {
    margin-bottom: 140px;
    margin-left: 1200px;
    width: 100%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#tittle h1{
    text-align: right;
    margin: auto;
    font-size: 13px;
    color: rgb(255, 255, 255);
}
h1{
    text-align: left;
}
#logo{
    overflow: hidden;
}
#logo img{
    width: 10%;
    height: 50;%;
    object-fit:cover;
    border-radius: 100%;
}
nav{
    margin-top: 50px;
}
nav ul{
    list-style: none;
    padding: 10px;
    text-align: right;
}
nav li {
    display: inline;
    margin-right: 20px;
}
nav a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #31413a;
    border: 1px solid #0c5035;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
nav a:hover{
    background-color: rgb(32, 41, 41);
}
main{
    max-width: 100%;
    margin: 0% 20%;
    padding: 20px;
}
#intro{
    float: left;
    width: 113%;
    margin: 20px 0px;
    background-image: linear-gradient(#1d1f2983, rgb(105, 101, 101), #20222e83);
    display: block;
}
#intro img{
    float: right;
    margin: right 20px;
    width: 300px;
    height: 200px;
}
#intro button{
    margin-top: 50px;
}
#portfolio{
    display: flex;
    align-items: center;
    width: 400px;
    height: 300px;
}
#portfolio img{
    margin: 0% 0%;
    border-radius: 10px;
    object-fit: cover;
}
.image-size{
    width: 200px;
    height: 200px;
}
#contact{
    background-color: #3a7297; /* background color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3ms ease;
}
#contact:hover{
    background-color: #357dad;
    box-shadow: 3px 3px 3px;
}
#about-me{
    padding: 20px;
}
#contact-me {
    padding: 20px;
}
#contact-me h2{
    font-size: 24px;
    color: #383333;
}
#contact-me p{
    font-size: 16px;
    color: #665757;
    line-height: 1.5;
    margin: 10px 0;
}
#contact-me ul{
    list-style: none;
    padding: 0;
}
#contact-me ul li{
    font-size: 16px;
    color: #615c5c;
    margin:  6px 0;
}
.fb {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.ins:hover{
    opacity: 0.7;
}
.facebook{
    background: #71bbec;
    color: #fff;
}
.instagram{
    background: #4792cc;
    color: white;
}
.copyright-notice{
    text-align: center;
    font-size:  15px;
    color: rgb(50, 205, 130);
    margin: 10px 0;
}